test-network/ledgers/**
# Exclude all certificate data as this is generated anyway
*.pem
*.crt
*.key
# Exclude the eventual ledgers
*.tx
*.block
# Exclude wallet information
*.wal
*.tmp
# Exclude all log files.
*.log
**/priv_sk
#test-network/config/orderer-channel.tx
#test-network/config/waka-genesis.block
#test-network/crypto-config/ordererOrganizations/blockchain.maori/ca/ca.blockchain.maori-cert.pem
#test-network/crypto-config/ordererOrganizations/blockchain.maori/ca/priv_sk
#test-network/crypto-config/ordererOrganizations/blockchain.maori/msp/cacerts/ca.blockchain.maori-cert.pem
#test-network/crypto-config/ordererOrganizations/blockchain.maori/msp/tlscacerts/tlsca.blockchain.maori-cert.pem
#test-network/crypto-config/ordererOrganizations/blockchain.maori/orderers/Maori-orderer.blockchain.maori/msp/cacerts/ca.blockchain.maori-cert.pem
#test-network/crypto-config/ordererOrganizations/blockchain.maori/orderers/Maori-orderer.blockchain.maori/msp/keystore/priv_sk
#test-network/crypto-config/ordererOrganizations/blockchain.maori/orderers/Maori-orderer.blockchain.maori/msp/signcerts/Maori-orderer.blockchain.maori-cert.pem
#test-network/crypto-config/ordererOrganizations/blockchain.maori/orderers/Maori-orderer.blockchain.maori/msp/tlscacerts/tlsca.blockchain.maori-cert.pem
#test-network/crypto-config/ordererOrganizations/blockchain.maori/orderers/Maori-orderer.blockchain.maori/tls/ca.crt
#test-network/crypto-config/ordererOrganizations/blockchain.maori/orderers/Maori-orderer.blockchain.maori/tls/server.crt
#test-network/crypto-config/ordererOrganizations/blockchain.maori/orderers/Maori-orderer.blockchain.maori/tls/server.key
#test-network/crypto-config/ordererOrganizations/blockchain.maori/tlsca/priv_sk
#test-network/crypto-config/ordererOrganizations/blockchain.maori/tlsca/tlsca.blockchain.maori-cert.pem
#test-network/crypto-config/ordererOrganizations/blockchain.maori/users/Admin@blockchain.maori/msp/cacerts/ca.blockchain.maori-cert.pem
#test-network/crypto-config/ordererOrganizations/blockchain.maori/users/Admin@blockchain.maori/msp/keystore/priv_sk
#test-network/crypto-config/ordererOrganizations/blockchain.maori/users/Admin@blockchain.maori/msp/signcerts/Admin@blockchain.maori-cert.pem
#test-network/crypto-config/ordererOrganizations/blockchain.maori/users/Admin@blockchain.maori/msp/tlscacerts/tlsca.blockchain.maori-cert.pem
#test-network/crypto-config/ordererOrganizations/blockchain.maori/users/Admin@blockchain.maori/tls/ca.crt
#test-network/crypto-config/ordererOrganizations/blockchain.maori/users/Admin@blockchain.maori/tls/client.crt
#test-network/crypto-config/ordererOrganizations/blockchain.maori/users/Admin@blockchain.maori/tls/client.key
#test-network/crypto-config/peerOrganizations/waka1.maori/ca/ca.waka1.maori-cert.pem
#test-network/crypto-config/peerOrganizations/waka1.maori/ca/priv_sk
#test-network/crypto-config/peerOrganizations/waka1.maori/msp/cacerts/ca.waka1.maori-cert.pem
#test-network/crypto-config/peerOrganizations/waka1.maori/msp/tlscacerts/tlsca.waka1.maori-cert.pem
#test-network/crypto-config/peerOrganizations/waka1.maori/peers/peer0.waka1.maori/msp/cacerts/ca.waka1.maori-cert.pem
#test-network/crypto-config/peerOrganizations/waka1.maori/peers/peer0.waka1.maori/msp/keystore/priv_sk
#test-network/crypto-config/peerOrganizations/waka1.maori/peers/peer0.waka1.maori/msp/signcerts/peer0.waka1.maori-cert.pem
#test-network/crypto-config/peerOrganizations/waka1.maori/peers/peer0.waka1.maori/msp/tlscacerts/tlsca.waka1.maori-cert.pem
#test-network/crypto-config/peerOrganizations/waka1.maori/peers/peer0.waka1.maori/tls/ca.crt
#test-network/crypto-config/peerOrganizations/waka1.maori/peers/peer0.waka1.maori/tls/server.crt
#test-network/crypto-config/peerOrganizations/waka1.maori/peers/peer0.waka1.maori/tls/server.key
#test-network/crypto-config/peerOrganizations/waka1.maori/tlsca/priv_sk
#test-network/crypto-config/peerOrganizations/waka1.maori/tlsca/tlsca.waka1.maori-cert.pem
#test-network/crypto-config/peerOrganizations/waka1.maori/users/Admin@waka1.maori/msp/cacerts/ca.waka1.maori-cert.pem
#test-network/crypto-config/peerOrganizations/waka1.maori/users/Admin@waka1.maori/msp/keystore/priv_sk
#test-network/crypto-config/peerOrganizations/waka1.maori/users/Admin@waka1.maori/msp/signcerts/Admin@waka1.maori-cert.pem
#test-network/crypto-config/peerOrganizations/waka1.maori/users/Admin@waka1.maori/msp/tlscacerts/tlsca.waka1.maori-cert.pem
#test-network/crypto-config/peerOrganizations/waka1.maori/users/Admin@waka1.maori/tls/ca.crt
#test-network/crypto-config/peerOrganizations/waka1.maori/users/Admin@waka1.maori/tls/client.crt
#test-network/crypto-config/peerOrganizations/waka1.maori/users/Admin@waka1.maori/tls/client.key
#test-network/crypto-config/peerOrganizations/waka1.maori/users/User1@waka1.maori/msp/cacerts/ca.waka1.maori-cert.pem
#test-network/crypto-config/peerOrganizations/waka1.maori/users/User1@waka1.maori/msp/keystore/priv_sk
#test-network/crypto-config/peerOrganizations/waka1.maori/users/User1@waka1.maori/msp/signcerts/User1@waka1.maori-cert.pem
#test-network/crypto-config/peerOrganizations/waka1.maori/users/User1@waka1.maori/msp/tlscacerts/tlsca.waka1.maori-cert.pem
#test-network/crypto-config/peerOrganizations/waka1.maori/users/User1@waka1.maori/tls/ca.crt
#test-network/crypto-config/peerOrganizations/waka1.maori/users/User1@waka1.maori/tls/client.crt
#test-network/crypto-config/peerOrganizations/waka1.maori/users/User1@waka1.maori/tls/client.key
#test-network/crypto-config/peerOrganizations/waka2.maori/ca/ca.waka2.maori-cert.pem
#test-network/crypto-config/peerOrganizations/waka2.maori/ca/priv_sk
#test-network/crypto-config/peerOrganizations/waka2.maori/msp/cacerts/ca.waka2.maori-cert.pem
#test-network/crypto-config/peerOrganizations/waka2.maori/msp/tlscacerts/tlsca.waka2.maori-cert.pem
#test-network/crypto-config/peerOrganizations/waka2.maori/peers/peer0.waka2.maori/msp/cacerts/ca.waka2.maori-cert.pem
#test-network/crypto-config/peerOrganizations/waka2.maori/peers/peer0.waka2.maori/msp/keystore/priv_sk
#test-network/crypto-config/peerOrganizations/waka2.maori/peers/peer0.waka2.maori/msp/signcerts/peer0.waka2.maori-cert.pem
#test-network/crypto-config/peerOrganizations/waka2.maori/peers/peer0.waka2.maori/msp/tlscacerts/tlsca.waka2.maori-cert.pem
#test-network/crypto-config/peerOrganizations/waka2.maori/peers/peer0.waka2.maori/tls/ca.crt
#test-network/crypto-config/peerOrganizations/waka2.maori/peers/peer0.waka2.maori/tls/server.crt
#test-network/crypto-config/peerOrganizations/waka2.maori/peers/peer0.waka2.maori/tls/server.key
#test-network/crypto-config/peerOrganizations/waka2.maori/tlsca/priv_sk
#test-network/crypto-config/peerOrganizations/waka2.maori/tlsca/tlsca.waka2.maori-cert.pem
#test-network/crypto-config/peerOrganizations/waka2.maori/users/Admin@waka2.maori/msp/cacerts/ca.waka2.maori-cert.pem
#test-network/crypto-config/peerOrganizations/waka2.maori/users/Admin@waka2.maori/msp/keystore/priv_sk
#test-network/crypto-config/peerOrganizations/waka2.maori/users/Admin@waka2.maori/msp/signcerts/Admin@waka2.maori-cert.pem
#test-network/crypto-config/peerOrganizations/waka2.maori/users/Admin@waka2.maori/msp/tlscacerts/tlsca.waka2.maori-cert.pem
#test-network/crypto-config/peerOrganizations/waka2.maori/users/Admin@waka2.maori/tls/ca.crt
#test-network/crypto-config/peerOrganizations/waka2.maori/users/Admin@waka2.maori/tls/client.crt
#test-network/crypto-config/peerOrganizations/waka2.maori/users/Admin@waka2.maori/tls/client.key
#test-network/crypto-config/peerOrganizations/waka2.maori/users/User1@waka2.maori/msp/cacerts/ca.waka2.maori-cert.pem
#test-network/crypto-config/peerOrganizations/waka2.maori/users/User1@waka2.maori/msp/keystore/priv_sk
#test-network/crypto-config/peerOrganizations/waka2.maori/users/User1@waka2.maori/msp/signcerts/User1@waka2.maori-cert.pem
#test-network/crypto-config/peerOrganizations/waka2.maori/users/User1@waka2.maori/msp/tlscacerts/tlsca.waka2.maori-cert.pem
#test-network/crypto-config/peerOrganizations/waka2.maori/users/User1@waka2.maori/tls/ca.crt
#test-network/crypto-config/peerOrganizations/waka2.maori/users/User1@waka2.maori/tls/client.crt
#test-network/crypto-config/peerOrganizations/waka2.maori/users/User1@waka2.maori/tls/client.key
#